<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

    <style>
        body {
            font-family: "Work Sanse",sans-serif;
        }

        .location {
            z-index: 1000;
            position: absolute;
            margin-top: 100px;
            font-size: 13px;
            padding-left: 8px;
            font-family: "Work Sans",sans-serif;
            left: 95%;
        }

        #loc {
            text-decoration: none;
            color: black;
            border: 1px solid black;
            width: 150px;
            color: black;
            background-color: white;
            opacity: 0.6;
            position: fixed;
        }

        #map {
            position: fixed;
            padding: 0;
            margin: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        

        .shadow {
            width: 100%;
            height: 100%;
            position: fixed;
            background-color: black;
            top: 0;
            left: 0;
            z-index: 400;
        }

       

        .container {
            position: relative;
            top: 100px;
        }

        .subList {
            list-style: none;
            display: inline-flex;
        }

        .dialog {
            z-index: 20;
            width: 300px;
            height: 400px;
            background-color: white;
            opacity: 0.8;
            border: 1px solid black;
            position: absolute;
            margin-top: 230px;
            left: -20px;
        }

        #dialogOcenivanje {
            display: none;
        }

        .label {
            font-weight: 400;
        }
    </style>
</head>
<body>
    
    <div class="location" style="">
        <button id="loc" href="" style="">Show my location</button>
    </div>
    <div class="dialog">
        <div class="dialogContent" style="position:relative;">

            <div class="dropdownList2" style="text-align:center;margin-top:50px;">
                <input style="width:200px;" type="text" id="nameSearch" placeholder="Search by name" />
            </div>
            <div class="dropdownList3" style="text-align:center;margin-top:50px;">
                <select style="width:200px;" id="dropL">
                    <option value="11" selected>Search by review</option>
                    <option value="5">*****</option>
                    <option value="4">****</option>
                    <option value="3">***</option>
                    <option value="2">**</option>
                    <option value="1">*</option>
                </select>
            </div>
        </div>
    </div>
    <div id="dialogOcenivanje">
        <div class="imeUser" style="text-align:center;margin-top:50px;">
            <input style="width:200px;" type="text" id="nameReview" placeholder="Enter your name: " />
        </div>
        <div id="dropdownOcena" style="text-align:center;margin-top:50px;">
            <select style="width:200px;" id="dropL">
                <option value="5">*****</option>
                <option value="4">****</option>
                <option value="3">***</option>
                <option value="2">**</option>
                <option value="1">*</option>
            </select>
            <textarea id="komentar" name="message" rows="6" style="resize:none; margin-top:50px;" placeholder="Enter a comment: "></textarea>
            <div id="idLokacija" style="display:none;"></div>
            <div id="tip" style="display:none;"></div>
            <button id="btnReview" style="position: relative; top:30px">Add review</button>
        </div>
    </div>
    <div id="selectDialog">
    </div>
    <div id="dialogKomentari">
    </div>
    <div>

        <form>
            <div class="form-check" style="z-index: 600;position:absolute;top:450px;display:grid;">
                <input type="checkbox" class="form-check-input" id="Berberi" value="berberi" name="filtriranje1">
                <label class="form-check-label" for="Berberi" style="font-weight:400">Hairdressers</label>
                <input type="checkbox" class="form-check-input" id="Teretani" value="teretani" name="filtriranje2">
                <label class="form-check-label" for="Teretani" style="font-weight:400">Fitness Centres</label>
                <input type="checkbox" class="form-check-input" id="SaloniZaUbavina" value="salonizaubavina" name="filtriranje3">
                <label class="form-check-label" for="SaloniZaUbavina" style="font-weight:400">Beauty Salons</label>
                <input type="checkbox" class="form-check-input" id="Butici" value="butici" name="filtriranje4">
                <label class="form-check-label" for="Butici" style="font-weight:400">Clothing Shops</label>
            </div>
        </form>
    </div>
    <div id="map"></div>
    @section scripts{
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

        <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>


        <script>
            $(document).ready(function () {
                $('#dialogOcenivanje').dialog({
                    modal: true,
                    autoOpen: false,
                    resizable: false,
                    height: 500,
                });

            });
            var map = L.map('map').setView({ lon: 2.5749, lat: 48.8358 }, 10);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
            }).addTo(map);
            L.control.scale().addTo(map);
            var markBerberi = function () {
                var tmp = null;
                $.ajax({
                    'async': false,
                    type: "GET",
                    url: "/api/Hairdressers/",
                    data: "{}",
                    success: function (data) {
                        tmp = data;
                    }
                });
                return tmp;
            }();
            $('#btnReview').on('click', function () {
                var tip = $('#tip').html();
                var idL = $('#idLokacija').html();
                var comment = $('#komentar').val();
                var ime = $('#nameReview').val();
                var reviews = function () {
                    var tmp = null;
                    $.ajax({
                        'async': false,
                        type: "GET",
                        url: "/api/Reviews/",
                        data: "{}",
                        success: function (data) {
                            tmp = data;
                        }
                    });
                    return tmp;
                }();
                var reviewNumber = reviews.length;
                var idN = reviews[reviewNumber - 1].id + 1;
                console.log(reviewNumber);
                console.log(ime);
                console.log(komentar);
                console.log(tip);
                if (tip === 'S') {
                    var markButik = function () {
                        var tmp = null;
                        $.ajax({
                            'async': false,
                            type: "GET",
                            url: "/api/ClothingShops/" + idL,
                            data: "{}",
                            success: function (data) {
                                tmp = data;
                            }
                        });
                        return tmp;
                    }();
                    var selektirana = $('#dropdownOcena option:selected').val();
                    var review = {
                        id: idN,
                        name: ime,
                        komentar: comment,
                        grade: selektirana,
                        id_clothingshop: idL,
                    };
                    console.log(ime);
                    console.log(komentar);
                    markButik.numbergrades = markButik.numbergrades + 1;
                    var avg = (markButik.averagegrade * (markButik.numbergrades - 1));
                    avg = avg + parseInt(selektirana);
                    avg = avg / markButik.numbergrades;
                    markButik.averagegrade = avg;
                    $.ajax({
                        url: '/api/ClothingShops/' + idL,
                        type: 'PUT',
                        contentType: "application/json",
                        data: JSON.stringify(markButik),
                        success: function (data) { },
                        complete: function () {
                            $.ajax({
                                url: '/api/Reviews/',
                                type: 'POST',
                                contentType: "application/json",
                                data: JSON.stringify(review),
                                success: function (data) {
                                    alert("You successfully reviewed the location")
                                }
                            });
                        }
                    });
                }
                else if (tip == 'F') {
                    var markTeretana = function () {
                        var tmp = null;
                        $.ajax({
                            'async': false,
                            type: "GET",
                            url: "/api/FitnessCentres/" + idL,
                            data: "{}",
                            success: function (data) {
                                tmp = data;
                            }
                        });
                        return tmp;
                    }();
                    var selektirana = $('#dropdownOcena option:selected').val();
                    markTeretana.numbergrades = markTeretana.numbergrades + 1;
                    var avg = (markTeretana.averagegrade * (markTeretana.numbergrades - 1));
                    avg = avg + parseInt(selektirana);
                    avg = avg / markTeretana.numbergrades;
                    markTeretana.averagegrade = avg;
                    var review = {
                        id: idN,
                        name: ime,
                        komentar: comment,
                        grade: selektirana,
                        id_fitnesscentre: idL,
                    };
                    $.ajax({
                        url: '/api/FitnessCentres/' + idL,
                        type: 'PUT',
                        contentType: "application/json",
                        data: JSON.stringify(markTeretana),
                        success: function (data) {
                            $.ajax({
                                url: '/api/Reviews/',
                                type: 'POST',
                                contentType: "application/json",
                                data: JSON.stringify(review),
                                success: function (data) {
                                    alert("You successfully reviewed the location")
                                }
                            });
                        }
                    });
                }
                else if (tip == 'H') {
                    var markFrizer = function () {
                        var tmp = null;
                        $.ajax({
                            'async': false,
                            type: "GET",
                            url: "/api/Hairdressers/" + idL,
                            data: "{}",
                            success: function (data) {
                                tmp = data;
                            }
                        });
                        return tmp;
                    }();
                    var selektirana = $('#dropdownOcena option:selected').val();
                    markFrizer.numbergrades = markFrizer.numbergrades + 1;
                    var avg = (markFrizer.averagegrade * (markFrizer.numbergrades - 1));
                    avg = avg + parseInt(selektirana);
                    avg = avg / markFrizer.numbergrades;
                    markFrizer.averagegrade = avg;
                    var review = {
                        id: idN,
                        name: ime,
                        komentar: comment,
                        grade: selektirana,
                        id_hairdresser: idL,
                    };
                    $.ajax({
                        url: '/api/Hairdressers/' + idL,
                        type: 'PUT',
                        contentType: "application/json",
                        data: JSON.stringify(markFrizer),
                        success: function (data) {
                            $.ajax({
                                url: '/api/Reviews/',
                                type: 'POST',
                                contentType: "application/json",
                                data: JSON.stringify(review),
                                success: function (data) {
                                    alert("You successfully reviewed the location")
                                }
                            });
                        }
                    });
                }
                else if (tip == 'B') {
                    var beautySalon = function () {
                        var tmp = null;
                        $.ajax({
                            'async': false,
                            type: "GET",
                            url: "/api/BeautySalons/" + idL,
                            data: "{}",
                            success: function (data) {
                                tmp = data;
                            }
                        });
                        return tmp;
                    }();
                    var selektirana = $('#dropdownOcena option:selected').val();
                    beautySalon.numbergrades = beautySalon.numbergrades + 1;
                    var avg = (beautySalon.averagegrade * (beautySalon.numbergrades - 1));
                    avg = avg + parseInt(selektirana);
                    avg = avg / beautySalon.numbergrades;
                    beautySalon.averagegrade = avg;
                    var review = {
                        id: idN,
                        name: ime,
                        komentar: comment,
                        grade: selektirana,
                        id_beautysalon: idL,
                    };
                    $.ajax({
                        url: '/api/BeautySalons/' + idL,
                        type: 'PUT',
                        contentType: "application/json",
                        data: JSON.stringify(beautySalon),
                        success: function (data) {
                            $.ajax({
                                url: '/api/Reviews/',
                                type: 'POST',
                                contentType: "application/json",
                                data: JSON.stringify(review),
                                success: function (data) {
                                    alert("You successfully reviewed the location")
                                }
                            });
                        }
                    });
                }
            })
            function findBerber(i) {
                return function () {
                    var idM = markBerberi[i].id;
                    $('#selectDialog').dialog({
                        title: "Choose what you want?!",
                        autoOpen: true,
                        modal: true,
                        buttons: {
                            "Give a review": function () {
                                $('#dialogOcenivanje').dialog({
                                    autoOpen: true,
                                    title: markBerberi[i].name
                                });
                                $('#tip').html('H');
                                $('#idLokacija').html(markBerberi[i].id)
                            },
                            "View reviews for locations": function () {
                                var markFrizer = function () {
                                    var tmp = null;
                                    $.ajax({
                                        'async': false,
                                        type: "GET",
                                        url: "/api/HairDressers/" + idM,
                                        data: "{}",
                                        success: function (data) {
                                            tmp = data;
                                        }
                                    });
                                    return tmp;
                                }();
                                $('#dialogKomentari').empty();
                                var numReviews = markFrizer.Reviews.length;
                                if (numReviews != 0) {
                                    for (var i = 0; i < numReviews; i++) {
                                        $('#dialogKomentari').append('<div> Ime:' + markFrizer.Reviews[i].name + '</div> <br>')
                                        $('#dialogKomentari').append('<div> Ocena:' + markFrizer.Reviews[i].grade + '</div> <br>')
                                        $('#dialogKomentari').append('<div> Komentar:' + markFrizer.Reviews[i].komentar + '</div> <br> <br>')
                                    }
                                }
                                $('#dialogKomentari').dialog({
                                    autoOpen: true
                                });
                            }
                        }
                    });
                }
            }
            function findTeretana(i) {

                return function () {
                    var idM = markTeretani[i].id;
                    $('#selectDialog').dialog({
                        title: "Choose what you want?!",
                        autoOpen: true,
                        modal: true,
                        buttons: {
                            "Give a review": function () {
                                $('#dialogOcenivanje').dialog({
                                    autoOpen: true,
                                    title: markTeretani[i].name
                                });
                                $('#tip').html('F');
                                $('#idLokacija').html(markTeretani[i].id)
                            },
                            "View reviews for locations": function () {
                                var markTeretana = function () {
                                    var tmp = null;
                                    $.ajax({
                                        'async': false,
                                        type: "GET",
                                        url: "/api/FitnessCentres/" + idM,
                                        data: "{}",
                                        success: function (data) {
                                            tmp = data;
                                        }
                                    });
                                    return tmp;
                                }();
                                $('#dialogKomentari').empty();
                                var numReviews = markTeretana.Reviews.length;
                                if (numReviews != 0) {
                                    for (var i = 0; i < numReviews; i++) {
                                        $('#dialogKomentari').append('<div> Ime:' + markTeretana.Reviews[i].name + '</div> <br>')
                                        $('#dialogKomentari').append('<div> Ocena:' + markTeretana.Reviews[i].grade + '</div> <br>')
                                        $('#dialogKomentari').append('<div> Komentar:' + markTeretana.Reviews[i].komentar + '</div> <br> <br>')
                                    }
                                }
                                $('#dialogKomentari').dialog({
                                    autoOpen: true
                                });
                            }
                        }
                    });
                }
            }
            function findSaloni(i) {
                return function () {
                    var idM = markSaloni[i].id;
                    $('#selectDialog').dialog({
                        title: "Choose what you want?!",
                        autoOpen: true,
                        modal: true,
                        buttons: {
                            "Give a review": function () {
                                $('#dialogOcenivanje').dialog({
                                    autoOpen: true,
                                    title: markSaloni[i].name
                                });
                                $('#tip').html('B');
                                $('#idLokacija').html(markSaloni[i].id)
                            },
                            "View reviews for locations": function () {
                                var markSalon = function () {
                                    var tmp = null;
                                    $.ajax({
                                        'async': false,
                                        type: "GET",
                                        url: "/api/BeautySalons/" + idM,
                                        data: "{}",
                                        success: function (data) {
                                            tmp = data;
                                        }
                                    });
                                    return tmp;
                                }();
                                $('#dialogKomentari').empty();
                                var numReviews = markSalon.Reviews.length;
                                if (numReviews != 0) {
                                    for (var i = 0; i < numReviews; i++) {
                                        $('#dialogKomentari').append('<div> Ime:' + markSalon.Reviews[i].name + '</div> <br>')
                                        $('#dialogKomentari').append('<div> Ocena:' + markSalon.Reviews[i].grade + '</div> <br>')
                                        $('#dialogKomentari').append('<div> Komentar:' + markSalon.Reviews[i].komentar + '</div> <br> <br>')
                                    }
                                }
                                $('#dialogKomentari').dialog({
                                    autoOpen: true
                                });
                            }
                        }
                    });
                }
            }
            function findButici(i) {
                return function () {
                    var idM = markButici[i].id;
                    $('#selectDialog').dialog({
                        title: "Choose what you want?!",
                        autoOpen: true,
                        modal: true,
                        buttons: {
                            "Give a review": function () {
                                $('#dialogOcenivanje').dialog({
                                    autoOpen: true,
                                    title: markButici[i].name
                                });
                                $('#tip').html('S');
                                $('#idLokacija').html(markButici[i].id)
                            },
                            "View reviews for locations": function () {
                                var markButik = function () {
                                    var tmp = null;
                                    $.ajax({
                                        'async': false,
                                        type: "GET",
                                        url: "/api/ClothingShops/" + idM,
                                        data: "{}",
                                        success: function (data) {
                                            tmp = data;
                                        }
                                    });
                                    return tmp;
                                }();
                                $('#dialogKomentari').empty();
                                var numReviews = markButik.Reviews.length;
                                if (numReviews != 0) {
                                    for (var i = 0; i < numReviews; i++) {
                                        $('#dialogKomentari').append('<div> Ime:' + markButik.Reviews[i].name + '</div> <br>')
                                        $('#dialogKomentari').append('<div> Ocena:' + markButik.Reviews[i].grade + '</div> <br>')
                                        $('#dialogKomentari').append('<div> Komentar:' + markButik.Reviews[i].komentar + '</div> <br> <br>')
                                    }
                                }
                                $('#dialogKomentari').dialog({
                                    autoOpen: true
                                });
                            }
                        }
                    });
                }
            }
            function findSve(i) {
                return function () {

                    $('#idLokacija').html(sveLokacije[i].id)
                    console.log(sveLokacije[i].Tip);
                    $('#tip').html(sveLokacije[i].Tip);
                    var idM = sveLokacije[i].id;
                    var tip = sveLokacije[i].Tip;
                    if (tip === 'H') {
                        $('#selectDialog').dialog({
                            title: "Choose what you want?!",
                            autoOpen: true,
                            modal: true,
                            buttons: {
                                "Give a review": function () {
                                    $('#dialogOcenivanje').dialog({
                                        autoOpen: true,
                                        title: sveLokacije[i].name
                                    });
                                    $('#tip').html('H');
                                    $('#idLokacija').html(sveLokacije[i].id)
                                },
                                "View reviews for locations": function () {
                                    var markFrizer = function () {
                                        var tmp = null;
                                        $.ajax({
                                            'async': false,
                                            type: "GET",
                                            url: "/api/HairDressers/" + idM,
                                            data: "{}",
                                            success: function (data) {
                                                tmp = data;
                                            }
                                        });
                                        return tmp;
                                    }();
                                    $('#dialogKomentari').empty();
                                    var numReviews = markFrizer.Reviews.length;
                                    if (numReviews != 0) {
                                        for (var i = 0; i < numReviews; i++) {
                                            $('#dialogKomentari').append('<div> Ime:' + markFrizer.Reviews[i].name + '</div> <br>')
                                            $('#dialogKomentari').append('<div> Ocena:' + markFrizer.Reviews[i].grade + '</div> <br>')
                                            $('#dialogKomentari').append('<div> Komentar:' + markFrizer.Reviews[i].komentar + '</div> <br> <br>')
                                        }
                                    }
                                    $('#dialogKomentari').dialog({
                                        autoOpen: true
                                    });
                                }
                            }
                        });
                    }
                    else if (tip === 'S') {
                        $('#selectDialog').dialog({
                            title: "Choose what you want?!",
                            autoOpen: true,
                            modal: true,
                            buttons: {
                                "Give a review": function () {
                                    $('#dialogOcenivanje').dialog({
                                        autoOpen: true,
                                        title: sveLokacije[i].name
                                    });
                                    $('#tip').html('S');
                                    $('#idLokacija').html(sveLokacije[i].id)
                                },
                                "View reviews for locations": function () {
                                    var markButik = function () {
                                        var tmp = null;
                                        $.ajax({
                                            'async': false,
                                            type: "GET",
                                            url: "/api/ClothingShops/" + idM,
                                            data: "{}",
                                            success: function (data) {
                                                tmp = data;
                                            }
                                        });
                                        return tmp;
                                    }();
                                    $('#dialogKomentari').empty();
                                    var numReviews = markButik.Reviews.length;
                                    if (numReviews != 0) {
                                        for (var i = 0; i < numReviews; i++) {
                                            $('#dialogKomentari').append('<div> Ime:' + markButik.Reviews[i].name + '</div> <br>')
                                            $('#dialogKomentari').append('<div> Ocena:' + markButik.Reviews[i].grade + '</div> <br>')
                                            $('#dialogKomentari').append('<div> Komentar:' + markButik.Reviews[i].komentar + '</div> <br> <br>')
                                        }
                                    }
                                    $('#dialogKomentari').dialog({
                                        autoOpen: true
                                    });
                                }
                            }
                        });
                    }
                    else if (tip === 'B') {
                        $('#selectDialog').dialog({
                            title: "Choose what you want?!",
                            autoOpen: true,
                            modal: true,
                            buttons: {
                                "Give a review": function () {
                                    $('#dialogOcenivanje').dialog({
                                        autoOpen: true,
                                        title: sveLokacije[i].name
                                    });
                                    $('#tip').html('B');
                                },
                                "View reviews for locations": function () {
                                    var markSalon = function () {
                                        var tmp = null;
                                        $.ajax({
                                            'async': false,
                                            type: "GET",
                                            url: "/api/BeautySalons/" + idM,
                                            data: "{}",
                                            success: function (data) {
                                                tmp = data;
                                            }
                                        });
                                        return tmp;
                                    }();
                                    $('#dialogKomentari').empty();
                                    var numReviews = markSalon.Reviews.length;
                                    if (numReviews != 0) {
                                        for (var i = 0; i < numReviews; i++) {
                                            $('#dialogKomentari').append('<div> Ime:' + markSalon.Reviews[i].name + '</div> <br>')
                                            $('#dialogKomentari').append('<div> Ocena:' + markSalon.Reviews[i].grade + '</div> <br>')
                                            $('#dialogKomentari').append('<div> Komentar:' + markSalon.Reviews[i].komentar + '</div> <br> <br>')
                                        }
                                    }
                                    $('#dialogKomentari').dialog({
                                        autoOpen: true
                                    });
                                }
                            }
                        });
                    }
                    else if (tip === 'F') {
                        $('#selectDialog').dialog({
                            title: "Choose what you want?!",
                            autoOpen: true,
                            modal: true,
                            buttons: {
                                "Give a review": function () {
                                    $('#dialogOcenivanje').dialog({
                                        autoOpen: true,
                                        title: sveLokacije[i].name
                                    });
                                    $('#tip').html('F');
                                    $('#idLokacija').html(sveLokacije[i].id)
                                },
                                "View reviews for locations": function () {
                                    var markTeretana = function () {
                                        var tmp = null;
                                        $.ajax({
                                            'async': false,
                                            type: "GET",
                                            url: "/api/FitnessCentres/" + idM,
                                            data: "{}",
                                            success: function (data) {
                                                tmp = data;
                                            }
                                        });
                                        return tmp;
                                    }();
                                    $('#dialogKomentari').empty();
                                    var numReviews = markTeretana.Reviews.length;
                                    if (numReviews != 0) {
                                        for (var i = 0; i < numReviews; i++) {
                                            $('#dialogKomentari').append('<div> Ime:' + markTeretana.Reviews[i].name + '</div> <br>')
                                            $('#dialogKomentari').append('<div> Ocena:' + markTeretana.Reviews[i].grade + '</div> <br>')
                                            $('#dialogKomentari').append('<div> Komentar:' + markTeretana.Reviews[i].komentar + '</div> <br> <br>')
                                        }
                                    }
                                    $('#dialogKomentari').dialog({
                                        autoOpen: true
                                    });
                                }
                            }
                        });
                    }
                }
            }
            var markeriBerberi = [];
            for (var i = 0; i < 100; i++) {
                var LamMarker = new L.marker([markBerberi[i].lat, markBerberi[i].lon]).on('click', findBerber(i)).bindPopup(markBerberi[i].name).openPopup();
                markeriBerberi.push(LamMarker);
            }
            $("#Berberi").change(function () {
                if (this.checked) {
                    for (var i = 0; i < 100; i++) {
                        map.addLayer(markeriBerberi[i]);
                    }
                }
                else {
                    for (var i = 0; i < 100; i++) {
                        map.removeLayer(markeriBerberi[i]);
                    }
                }
            });
            var markTeretani = function () {
                var tmp = null;
                $.ajax({
                    'async': false,
                    type: "GET",
                    url: "/api/FitnessCentres/",
                    data: "{}",
                    success: function (data) {
                        tmp = data;
                    }
                });
                return tmp;
            }();
            var markeriTeretani = [];
            for (var i = 0; i < 100; i++) {
                var LamMarker = new L.marker([markTeretani[i].lat, markTeretani[i].lon]).on('click', findTeretana(i)).bindPopup(markTeretani[i].name).openPopup();
                markeriTeretani.push(LamMarker);
            }
            $("#Teretani").change(function () {
                if (this.checked) {
                    for (var i = 0; i < 100; i++) {
                        map.addLayer(markeriTeretani[i]);
                    }
                }
                else {
                    for (var i = 0; i < 100; i++) {
                        map.removeLayer(markeriTeretani[i]);
                    }
                }
            });
            var markSaloni = function () {
                var tmp = null;
                $.ajax({
                    'async': false,
                    type: "GET",
                    url: "/api/BeautySalons/",
                    data: "{}",
                    success: function (data) {
                        tmp = data;
                    }
                });
                return tmp;
            }();
            var markeriSaloni = [];
            for (var i = 0; i < 100; i++) {
                var LamMarker = new L.marker([markSaloni[i].lat, markSaloni[i].lon]).on('click', findSaloni(i)).bindPopup(markSaloni[i].name).openPopup();
                markeriSaloni.push(LamMarker);
            }
            $("#SaloniZaUbavina").change(function () {
                if (this.checked) {
                    for (var i = 0; i < 100; i++) {
                        map.addLayer(markeriSaloni[i]);
                    }
                }
                else {
                    for (var i = 0; i < 100; i++) {
                        map.removeLayer(markeriSaloni[i]);
                    }
                }
            });
            var markButici = function () {
                var tmp = null;
                $.ajax({
                    'async': false,
                    type: "GET",
                    url: "/api/ClothingShops/",
                    data: "{}",
                    success: function (data) {
                        tmp = data;
                    }
                });
                return tmp;
            }();
            var markeriButici = [];
            for (var i = 0; i < 100; i++) {
                var LamMarker = new L.marker([markButici[i].lat, markButici[i].lon]).on('click', findButici(i)).bindPopup(markButici[i].name).openPopup();
                markeriButici.push(LamMarker);
            }
            $("#Butici").change(function () {
                if (this.checked) {
                    for (var i = 0; i < 100; i++) {
                        map.addLayer(markeriButici[i]);
                    }
                }
                else {
                    for (var i = 0; i < 100; i++) {
                        map.removeLayer(markeriButici[i]);
                    }
                }
            });
            var sveLokacije = markBerberi.concat(markButici, markSaloni, markTeretani);
            var markerIme = [];
            $('#nameSearch').keyup(function (e) {
                if (typeof markerIme != 'undefined') {
                    for (var i = 0; i < markerIme.length; i++) {
                        map.removeLayer(markerIme[i]);
                    }
                    markerIme = [];
                }
                var ime = $('#nameSearch').val();
                for (var i = 0; i < sveLokacije.length; i++) {
                    if (sveLokacije[i].name === ime) {
                        var markerI = new L.marker([sveLokacije[i].lat, sveLokacije[i].lon]).on('click', findSve(i)).bindPopup(sveLokacije[i].name).openPopup();
                        $('#tip').html(sveLokacije[i].tip);
                        $('#idLokacija').html(sveLokacije[i].id)
                        markerIme.push(markerI);
                        map.addLayer(markerI);
                    }
                }
            });
            var markerOcena = [];
            $("#dropL").change(function () {
                if (typeof markerOcena != 'undefined') {
                    for (var i = 0; i < markerOcena.length; i++) {
                        map.removeLayer(markerOcena[i]);
                    }
                    markerOcena = [];
                }
                var ocena = $('#dropL option:selected').val();
                if (ocena === 11) {
                    for (var i = 0; i < markerOcena.length; i++) {
                        map.removeLayer(markerOcena[i]);
                    }
                    markerOcena = [];
                }
                for (var i = 0; i < sveLokacije.length; i++) {
                    if (sveLokacije[i].averagegrade > ocena - 1 && sveLokacije[i].averagegrade <= ocena) {
                        var markerI = new L.marker([sveLokacije[i].lat, sveLokacije[i].lon]).on('click', findSve(i)).bindPopup(sveLokacije[i].name).openPopup();
                        markerOcena.push(markerI);
                        map.addLayer(markerI);
                    }
                }
            });
            $("#loc").on("click", function () {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        latit = position.coords.latitude;
                        console.log(latit);
                        longit = position.coords.longitude;
                        console.log(longit);
                        var abc = L.marker([position.coords.latitude, position.coords.longitude]).addTo(map);
                        map.panTo(new L.LatLng(latit, longit));
                    });
                }
            });
        </script>
    }
</body>
</html>